.message__form {
    display: flex;
    gap: 5px;
    margin-top: 20px;
}

.message__input {
    padding: 10px;
    color: #000;
    resize: none;
    flex-grow: 1;
    height: 80px;
    border-radius: 10px;
}

.message__buttons {
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding-bottom: 8px;
}

.message__post {
    border-radius: 10px;
    min-width: 100px;
    background: linear-gradient(22deg, rgba(0, 5, 133, 1) 0%, rgb(0, 0, 0) 100%);
    flex-grow: 1;
}

.message__clear {
    border-radius: 10px;
    min-width: 100px;
    background: linear-gradient(22deg, rgb(0, 33, 82) 0%, rgb(0, 112, 112) 100%);
    flex-grow: 1;
}

.message__input.error {
    border: 2px solid red;
}

span.error {
    color: red;
}

.input__container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    gap: 10px;
}