.posts__form {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

.posts__input {
    color: #000;
    resize: none;
    height: 80px;
    border-radius: 10px;
    padding: 10px;
}

.posts__buttons {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.posts__post {
    border-radius: 10px;
    min-width: 100px;
    background: linear-gradient(22deg, rgba(0, 5, 133, 1) 0%, rgb(0, 0, 0) 100%);
    flex-grow: 1;
}

.posts__clear {
    border-radius: 10px;
    min-width: 100px;
    background: linear-gradient(22deg, rgb(0, 33, 82) 0%, rgb(0, 112, 112) 100%);
    flex-grow: 1;
}

.post__container {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.posts__input.error {
    border: 2px solid rgb(255, 19, 19)
}

span.error {
    margin-left: 5px;
    color: rgb(255, 19, 19);
}