.input {
    color: black
}

.container {
    margin: 20px;
}

.userInfo__text {
    margin: 10px 0;
    filter: drop-shadow(0px 0px 1px rgba(0, 5, 133, 0.7));
}

.userInfo__item {
    display: block;
    margin-bottom: 10px;
}

.userInfo__subItem {
    margin: 5px 20px;
}

.userInfo__itemHeader {
    margin-bottom: 5px;
}

.userInfo__button {
    color: rgb(0, 48, 40);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 20px 0;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

ul {
    list-style-type: none;
}


.error {
    border: 2px solid rgb(255, 0, 0);
}

.error {
    display: inline-block;
    padding: 10px;
    color: rgb(255, 255, 255);
}
